<div id="layout" class="content pure-g">
<div id="nav" class="pure-u"> <a href="#" class="nav-menu-button">Menu</a>
  <div class="nav-inner"> <a href="/new">
    <button class="primary-button pure-button">Compose</button>
    </a>
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/inbox" class="pure-menu-link"><span class="email-label-work"></span>Inbox <span class="email-count">({{ @email_count }})</span></a></li>
        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
