<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Example using PHP Fat-Free Framework">
<title>Example using PHP Fat-Free Framework</title>
<link rel="stylesheet" href="/app/css/pure-min.css">

<!--[if lte IE 8]>
            <link rel="stylesheet" href="/app/css/email-old-ie.css">
        <![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/app/css/email.css">
<!--<![endif]-->
</head>
<body>