<div style="margin: 20px;">
  <form method="post" action="/login" class="pure-form pure-form-stacked">
    <fieldset>
      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Username">
      <br />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Password">
      <br />
      <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
    <check if="{{ @error }}">
      <p><strong>ERROR:</strong> {{ @error }}</p>
    </check>
  </form>
</div>
